<div class="row">
<div class="col-md-3">
<h3><%= @club.name %></h3>
<p>
  <strong>Address</strong>
<%= @club.address %>
</p>
<p>
<strong>Phone</strong>
<%= @club.phone %>
</p>
<p>
<strong>Website</strong>
<%= @club.website %>
</p>
<p>
<strong>Club Description</strong>
<%= @club.description %>
</p>
<div id="map-canvas" style="width: 300px; height: 300px;"></div>

</div>

<div class="col-md-9">
<h3>Club Reviews</h3> 
</div>

    <script type="text/javascript">
      function initialize() {
        var mycenter = { lat: <%= @club.latitude %>, lng: <%= @club.longitude %>}
        var mapOptions = {
          center: mycenter,
          zoom: 13
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
          position: mycenter,
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
